<div class="row">
	<div class="col-md-3">
	</div>
	<div class="col-md-6">
		<div class="row" id="detaljRader" style="margin-left: 22em;"">
			<img id="header-picture" src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAXsAAAAJDE1ZThlMDMzLWU1M2UtNDkyMC04ZTlmLTliZTM4MjMzZmU4YQ.jpg"/>
		</div>
		<div class="row">
		Philip Claesson studerar medieteknik på KTH inom data. Philip har programeringskunskaper inom Java, Python, HTML, Javascript, CSS, Python. Utöver sina studier driver han ett företag som producerar Podcasts för friåkningssidan Freeride.
		</div>
		<div class="row" id="detaljRader" style="margin-left: 22em;">
			<img id="header-picture" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQuYCRuQFk2QBiO7JorINAWD31hkvvBoqKjzHxRAHSkaXv9R4WT" id="header-picture"/>
		</div>
		<div class="row" >
		Patrik Odqvist studerar medieteknik på KTH inom interaktion design. Patrik har programeringskunskaper inom Javascript, HTML, CSS, Python. Utöver sina studier driver han en filmstudio JP Studio.
		</div> 
		<div class="row" id="detaljRader" style="margin-left: 24em; margin-bottom: 15em;">
			<a href='#!/home'><button>Home &#8962;</button></a>
		</div>		
	</div>
	<div class="col-md-3">
	</div>
</div>





