<div class="row">
	<div class="col-md-3">
	</div>
	<div class="col-md-6">
		<div class="row" id="detaljRader">
		<h1>
			Automatiserade beräkningsmetoder för koldioxidutsläpp vid offentlig konsumtion av livsmedel
		</h1>
		</div>
		<div class="row" id="detaljRader">
		 Är en studie på kandidatnivå utförd av Philip Claesson och Patrik Odqvist vid KTH. Syftet med studien är att kartlägga kommuners koldioxidutsläpp av inköpen av livsmedel för att kunna ge förslag på förbättringar sådant att enheterna rör sig mot en mer hållbar konsumtion av mat. Vi har valt att utveckla ett verktyg så att man lätt kan få en överblick på hur de olika livsmedelerna påverkar miljön sådant att vi kan höja kommuners kunskapsnivån inom hållbarhet. Kandidatstudien ingår i ett större forskningsprojekt ......... vid KTH som forskar inom hållbarhet av mat.
		 </div>
		 <div class="row" id="detaljRader" style="text-align: center;">
		 	<h3>
		 		Sammarbetspartners
		 	</h3>
		 </div>
		 <div class="row" id="detaljRader" style="margin-left: 24em;">
		 	<img  id="header-picture" src="https://people.kth.se/~hsan/surf_files/kth_rgb.jpg"/>
		 </div>
		 <div class="row" id="detaljRader" style="margin-left: 26em; margin-bottom: 15em;">
		 	<a href='#!/home'><button>Home &#8962;</button></a>
		 </div>
	</div>
	<div class="col-md-3">
	</div>
</div>